<div class="container-fuid">
    <div class="row">
        <div class="col-lg-8 col-12 p-5">
            <h1 class="text2">Why?</h1>
            <div class="why-text1">see why we suggest that quantity</div>
            <div class="row">
                <div class="col-lg-6 col-12 text-center">
                    <img src="/assets/img/img-1.png">
                    <div class="text-center why-link">
                        <a href="">How the order pattern<br> effects</a>
                    </div>
                </div>

                <div class="col-lg-6 col-12 text-center">
                    <img src="/assets/img/img-2.png">
                     <div class="text-center why-link">
                        <a href="">How the order pattern<br> effects</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-12 ">
            <div class="why-box"> 
                <h2 class="text-center why-title">Finalize your Order</h2>
                <div class="col-md-12 text-center b">
                    <button type="button" class="btn btn-dark w-50">Order <span>Suggested</span><br>Quantity</button>
                    <h5 class="text-center p-5" style="color: #000">OR</h5>
                    <button type="button" class="btn btn-dark w-50">Order <span>Your Own<br>Quantity</span></button>
                </div>
            </div>
        </div>

    </div>
</div>
