<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-lg-8 col-12 p-5">
            <h1 class="text2">Why?</h1>
            <div class="why-text1">see why we suggest that quantity</div>

            <div class="row" *ngIf="type == 'a'">

                <div class="col-lg-12 col-12 text-center">
                    <img [src]="typeACurrentGraph" style="width: 80%">
                     <div class="text-center why-link">
                        <span>How the order pattern effects</span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="type == 'b'">
                <div class="col-lg-12 col-12 text-center">
                    <div class="text-center why-link">
                        <p>Predicted value : {{quantity}} packs/boxes</p>
                        <p style="margin-top: 25px">Reasons </p> <p> {{reasons}}</p>
                    </div>
                </div>

               
            </div>

        </div>

        <div class="col-lg-4 col-12 p-5">
            <div class="why-box"> 
                <h2 class="text-center why-title">Finalize your Order</h2>
                <div class="col-md-12 text-center b">
                    <button type="button" class="btn btn-dark" (click)="orderPredictedQuantity()">Order Suggested Quantity</button>
                    <h5 class="text-center p-5" style="color: #000">OR</h5>
                    <button type="button" class="btn btn-dark" (click)="orderCustomQuantity()">Order Your Own Quantity</button>
                </div>
            </div>
        </div>

    </div>
</div>
