<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-lg-6 col-md-12 align-self-center mt-5">
      <h1 class="text-center">Take Your Own Risk!</h1>
      <form [formGroup]="orderForm" (submit)="purchaseOrder()" class="form-bg p-2">
        <div class="container p-5">

          <label>{{medicine | titlecase}} purchase for {{months[month - 1]}} {{year}}</label>
          <input type="number" placeholder="Quantity" name="quantity" formControlName="quantity" [disabled]="isPredicted" required>

          <input type="text" placeholder="Any note" name="note" formControlName="note">

          <div class="row">
            <div class="col-lg-6 col-12"></div>
            <div class="col-lg-6 col-12">
              <button type="submit" class="bg-danger">Submit</button>
            </div>
          </div>


        </div>
      </form>
    </div>
    <div class="col-3"></div>
  </div>
</div>
