<div class="container">
    <div class="row text-center mt-5">
        <div class="col-lg-6 col-12 align-self-center ">
            <h1>YO-DER!</h1>
            <h2>Let us suggest your next Order</h2>
        </div>
        <div class="col-lg-6 col-12 align-self-center ">
            <form action="" method="" class="form-bg p-2">
                <div class="imgcontainer">
                    <img src="/assets/img/img_avatar2.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <button type="submit" class="bg-danger">Sign in</button>
                        </div>
                        <div class="col-lg-6 col-12">
                            <button type="submit" class="bg-success">Log in</button>
                        </div>
                    </div>


                </div>
            </form>
        </div>

    </div>
</div>
